/* all common css */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
*{
    margin: 0;
    padding: 0;
}
ul, ol li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: black;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
/* all common css */
.containerOne{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.headerPartOne{
    width: 100%;
    background: #20282D;
}
.leftPartOne{
    display: flex;
    font-size: 18px;
    color: white;
}
.leftPartOne i{
    margin-right: 5px;
}
.leftPartOne span{
    margin: 0 15px;
}
.rightPartOne ul li {
    display: inline-block;
}
.rightPartOne ul li a{
    color: white;
    font-weight: bold;
}

.rightPartOne span{
    margin: 0 15px;
}
.rightPartOne nav ul li{
    padding: 0 10px;
}



.leftPartOne .forHover:hover{
    border-bottom: 1px solid white;
}
.headerPartTwo{
    width: 100%;
    background: white;
    box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.4);
-webkit-box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.4);
}
.containerTwo{
    width: 1320px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middlePart ul li{
    display: inline-block;
    padding: 0 20px;
}
.middlePart ul li a{
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
}
.rightPart button{
    padding: 20px 35px;
    border-radius: 10px;
    background: #20282D;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}
.rightPart a{
    margin: 0 15px;
    color: #20282D;
    font-size: 16px;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}
.middlePart nav ul li a:hover{
    border-bottom: 2px solid #20282D;
}