/* all common css */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
*{
    margin: 0;
    padding: 0;
}
ul, ol li{
    list-style-type: none;
}
li a{
    text-decoration: none;
    color: black;
}
.container{
    width: 1320px;
    margin: 0 auto;
}
/* all common css */
.containerOne{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
.headerPartOne{
    width: 100%;
    background: #20282D;
}
.leftPartOne{
    display: flex;
    font-size: 18px;
    color: white;
}
.leftPartOne i{
    margin-right: 5px;
}
.leftPartOne span{
    margin: 0 15px;
}
.rightPartOne ul li {
    display: inline-block;
}
.rightPartOne ul li a{
    color: white;
    font-weight: bold;
}

.rightPartOne span{
    margin: 0 15px;
}
.rightPartOne nav ul li{
    padding: 0 10px;
}



.leftPartOne .forHover:hover{
    border-bottom: 1px solid white;
}
.headerPartTwo{
    width: 100%;
    background: white;
    box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.4);
-webkit-box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.4);
-moz-box-shadow: 1px 2px 12px -1px rgba(0,0,0,0.4);
}
.fa-magnifying-glass{
    padding: 15px;
    background: #e0e0e0;
    border-radius: 5px;
}
.fa-bars-staggered{
    padding: 15px;
    background: #e0e0e0;
    border-radius: 5px;
}
.containerTwo{
    width: 1320px;
    height: 110px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middlePart ul li{
    display: inline-block;
    padding: 0 20px;
}
.middlePart ul li a{
    font-size: 18px;
    font-family: "DM Sans", sans-serif;
}
.rightPart button{
    padding: 20px 35px;
    border-radius: 10px;
    background: #20282D;
    color: white;
    font-size: 16px;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}
.rightPart a{
    margin: 0 15px;
    color: #20282D;
    font-size: 16px;
    font-weight: bold;
    font-family: "DM Sans", sans-serif;
}
.middlePart nav ul li a:hover{
    border-bottom: 2px solid #20282D;
}
/* header part end */

/* banner part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */


.bannerPart{
    padding-top: 225px;
    padding-bottom: 220px;
    background: url(../assests/images/mainbanner2.webp);
}
.bannerInfo{
    text-align: center;
}
.bannerInfo span{
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}
.bannerInfo p{
    font-family: "DM Sans", sans-serif;
    color: #fff;
    font-size: 16px;
}
.bannerInfo h1{
    font-size: 80px;
    color: #fff;
    padding-bottom: 30px;
    font-family: "Red Hat Display", sans-serif;
}
.greeding{
    padding-bottom: 30px;
}
.description{
    padding-bottom: 45px;
    line-height: 26px;
    font-family: "DM Sans", sans-serif;
}
.button{
    font-size: 16px;
    font-weight: 500;
    padding: 20px 25px;
    background: #fff;
    border-radius: 20px;
    text-decoration: none;
    color: #000;
    font-family: "DM Sans", sans-serif;
}
.button:hover{
    background: #20282D;
    color: white;
    transition: .6s;
}
/* banner part end */

/* about part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
.aboutPart{
    display: flex;
    margin-top: 120px;
}
.aboutPartLeft{
    width: 50%;
    position: relative;
}
.mainImage{
    width: 492px;
    height: 550px;
    margin-left: 100px;
}
.aboutPartLeft .overleyImage{
    position: absolute;
    width: 210px;
    height: 240px;
    left: 68%;
    top: 50%;
}
.aboutExperience{
    text-align: center;
    align-items: center;
    /* height: 200px; */
    padding: 60px 0;
    width: 200px;
    background: #20282D;
    border-radius: 15px;
    position: absolute;
    top: 10%;
    left: 0;
}
.aboutExperience h3{
    font-size: 48px;
    font-weight: bolder;
    font-family: "DM Sans", sans-serif;
    color: #fff;
}
.aboutExperience p{
    font-size: 16px;
    font-weight: 500;
    font-family: "DM Sans", sans-serif;
    color: #fff;
}

/* right part */
.aboutPartRight{
    margin-left: 35px;
    padding-top: 70px;
}
.fa-phone-volume{
    padding: 10px;
}
.aboutFlexPart{
    display: flex;
}
.aboutDis{
    width: 350px;
}
.callIcon{
    float: left;
    font-size: 35px;
    background: #20282D;
    color: white;
    border-radius: 10px;
    margin-right: 10px;
}

.aboutFlexLeftPart{
    width: 50%;
}
.aboutFlexLeftPart p{
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    color: #5d666f;
    padding-top: 5px;
    padding-left: 75px;
}
.aboutFlexLeftPart h6{
    font-size: 20px;
    font-family: "Red Hat Display", sans-serif;
    color: #1c2539;
    padding-left: 75px;
}
.aboutPartRight h4{
    font-size: 20px;
    font-family: "Red Hat Display", sans-serif;
    color: #1c2539;
    letter-spacing: 2px;
    padding-bottom: 25px;
    text-transform: uppercase;
}
.aboutPartRight h2{
    font-size: 48px;
    font-family: "Red Hat Display", sans-serif;
    color: #1c2539;
    padding-bottom: 25px;
}
.aboutDis p{
    font-size: 18px;
    color: #5d666f;
    line-height: 26px;
}
.aboutSkill ul{
    font-size: 18px;
    color: #1c2539;
}
.fa-circle-check{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 10px;
    margin-bottom: 15px;
}
.aboutFlexPartTwo{
    display: flex;
    margin-top: 50px;
}
/* about part end */

/* our service part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#ourService{
    width: 100%;
    margin-top: 160px;
}
.serviceTitle{
    text-align: center;
    padding-bottom: 150px;
}
.serviceTitle h4{
    text-transform: uppercase;
    color: #000000;
    line-height: 26px;
    letter-spacing: 2px;
    padding-bottom: 40px;
    font-family: "DM Sans", sans-serif;
}
.serviceTitle h3{
    color: #000000;
    line-height: 26px;
    letter-spacing: 2px;
    padding-bottom: 40px;
    font-size: 48px;
    font-family: "Red Hat Display", sans-serif;
}
.servicePlan{
    display: flex;
    width: 1400px;
    margin: 0 auto;
    justify-content: center;
    gap: 10px;
}

.businessPlan{
    width: calc(100% / 3);
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
}
/* .businessPlan h3 p a{
    padding-left: 150px;
} */
.businessPlan h3{
    padding-left: 150px;
 }
.businessPlan p{
    padding-left: 150px;
 }
.businessPlan a{
    padding-left: 150px;
 }

.businessPlanImg{
    width: 75px;
    position: absolute;
    top: 50px;
    left: 40px;
}
.processDevelopment{
    width: calc(100% / 3);
    padding-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.processDevelopmentImg{
    position: absolute;
    width: 75px;
    top: 50px;
    left: 40px;
}
/* .processDevelopment h3  p  a{
    padding-left: 150px;
} */
.processDevelopment h3{
    padding-left: 150px;
 }
.processDevelopment p{
    padding-left: 150px;
 }
.processDevelopment a{
    padding-left: 150px;
 }
.strategyPlanning{
    width: calc(100% / 3);
    padding-bottom: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
}
.strategyPlanningImg{
    position: absolute;
    width: 75px;
    top: 50px;
    left: 40px;
}
/* .strategyPlanning h3  p  a{
    padding-left: 150px;
} */
.strategyPlanning h3{
    padding-left: 150px;
 }
.strategyPlanning p{
    padding-left: 150px;
 }
.strategyPlanning a{
    padding-left: 150px;
 }
.servicePlan h3{
    color: #1c2539;
    font-size: 22px;
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 24px;
}
.servicePlan p{
    color: #5d666f;
    font-size: 15px;
    font-family: "DM Sans", sans-serif;
    line-height: 22px;
    padding-bottom: 15px;
}
.servicePlan a{
    font-size: 20px;
    font-weight: 400;
    font-family: "DM Sans", sans-serif;
    color: #1c2539;
}
.servicePlan li{
    list-style-type: none;
}
.dotSection{
    width: 1320px;
    margin: 50px auto;
    text-align: center;
}
.dotSection ul li {
    display: inline-block;
    color: #CDCFD0;
    font-size: 10px;
    padding-right: 10px;
    
}
/* our service part end */

/* help business part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#helpBusiness{
    width: 100%;
    background: url(../assests/images/middlePartAboutBanner.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.middlePartAbout{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.middlePartAboutTitle h3{
    font-size: 40px;
    font-family: "Red Hat Display", sans-serif;
    color: #ffffff;
    padding-top: 85px;
    padding-bottom: 100px;
}
.middlePartAboutButton a{
    padding: 22px 30px;
    background: #fff;
    color: #20282D;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
}
.middlePartAboutButton a:hover{
    background: #20282D;
    color: #fff;
    transition: .5s;
}


/* help business part end */

/* last Part About part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#lastPartAbout{
    width: 100%;
    margin-top: 150px;
    margin-bottom: 110px;
}
.lastPartAboutSection{
    width: 1320px;
    margin: 0 auto;
    display: flex;
}
.lastPartAboutLeftPart{
    width: 50%;
}
.lastPartAboutRightPart{
    width: 50%;
    position: relative;
}
.imgPartOne{
    margin-bottom: 20px;
}
.lastPartAboutLeftPart h6{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #000000;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 30px;
}
.lastPartAboutLeftPart h3{
    font-size: 48px;
    color: #1c2539;
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 35px;
}
.lastPartAboutLeftPart h4{
    font-size: 20px;
    color: #1c2539;
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 7px;
}
.lastPartAboutLeftPart p{
    font-size: 16px;
    color: #5d666f;
    font-family: "DM Sans", sans-serif;
}
.lastPartAboutRightPartImgOne{
    background: url(../assests/images/lastPartAboutRightPartImgOne.webp);
    background-position: center;
    background-repeat: no-repeat;
    width: 500px;
    height: 570px;
    margin: 0 200px;
    background-size: cover;
    border-radius: 20px;
}
.lastPartAboutRightPartImgTwo{
    position: absolute;
    background: url(../assests/images/lastPartAboutRightPartImgTwo.webp);
    height: 430px;
    width: 310px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 15px solid #fff;
    border-radius: 15px;
    top: 50%;
    transform: translateY(-50%);
    left: 5%;
}
.lastPartAboutButton {
    margin-top: 40px;
}
.lastPartAboutButton a{
    padding: 16px 25px;
    background: #20282D;
    color: #fff;
    text-decoration: none;
    border-radius: 15px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: bold;
    display: inline-block;
}
.lastPartAboutButton a:hover{
    background: #fff;
    color: #20282D;
    transition: .5s;
}

/* last Part About part end */


/* successfull work information part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#workInformation{
    width: 100%;
    background: #1c2539;
    height: 325px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.successfullWorkInformation{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    color: #fff;
}
.successfullProject{
    width: 25%;
}
.successfullProject span{
    float: left;
    padding: 20px;
    background: #fff;
    border-radius: 50%;
    margin-right: 40px;
    display: inline-block;
}
.successfullProject h2{
    font-size: 48px;

}
.mediaActivities{
    width: 25%;
}
.mediaActivities span{
    float: left;
    padding: 20px;
    background: #fff;
    border-radius: 50%;
    margin-right: 40px;
    display: inline-block;
}
.mediaActivities h2{
    font-size: 48px;

}
.skilledExperts{
    width: 25%;
}
.skilledExperts span{
    float: left;
    padding: 20px;
    background: #fff;
    border-radius: 50%;
    margin-right: 40px;
    display: inline-block;
}
.skilledExperts h2{
    font-size: 48px;
}
.happyClients{
    width: 25%;
}
.happyClients span{
    float: left;
    padding: 20px;
    background: #fff;
    border-radius: 50%;
    margin-right: 40px;
    display: inline-block;
}
.happyClients h2{
    font-size: 48px;
}

/* successfull work information part end */




/* THAKURGAON CODE START */
/* THAKURGAON CODE START */
/* THAKURGAON CODE START */


/* popularproject part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#popularProjectPart{
    margin-top: 170px;
    width: 100%;
    text-align: left;
}
.popularProjectPart{
    width: 1320px;
    margin: 0 auto;
}
.popularProjectPart > h4{
    letter-spacing: 2px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    color: #000000;
    text-transform: uppercase;
    padding-bottom: 30px;
}
.popularProjectPart > h3{
    font-size: 48px;
    font-family: "Red Hat Display", sans-serif;
    color: #1c2539;
    padding-bottom: 50px;
}
.popularProject{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    gap: 30px;
}
.popularProjectLeftPart{
    width: 50%;
    height: 400px;
    background: url(../assests/images/projectcompletepart.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}
.popularProjectRightPart{
    width: 50%;
    height: 400px;
    background: url(../assests/images/projectcompletepart2.webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}
.popularProjectLeftPartInfo{
    width: 340px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    text-align: left;
    top: 60%;
    left: 5%;
}
.popularProjectLeftPartInfo > h3{
    font-family: "Red Hat Display", sans-serif;
    font-size: 24px;
    color: #1c2539;
    padding-top: 35px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.popularProjectLeftPartInfo > p{
    font-size: 16px;
    color: #5d666f;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 35px;
    padding-left: 30px;
}
.popularProjectRightPartInfo{
    width: 340px;
    background: #fff;
    border-radius: 15px;
    position: absolute;
    text-align: left;
    top: 60%;
    left: 5%;
}
.popularProjectRightPartInfo > h3{
    font-family: "Red Hat Display", sans-serif;
    font-size: 24px;
    color: #1c2539;
    padding-top: 35px;
    padding-bottom: 10px;
    padding-left: 30px;
}
.popularProjectRightPartInfo > p{
    font-size: 16px;
    color: #5d666f;
    font-family: "DM Sans", sans-serif;
    padding-bottom: 35px;
    padding-left: 30px;
}

/* popularproject part end */



/* ourTrustedClints part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#ourClints{
    width: 100%;
    margin-top: 120px;
}
.ourTrustedClints{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 40px;
}
.ourTrustedClints > h4{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #1c2539;
    position: relative;
}
.ourTrustedClints > h4::after{
    position: absolute;
    height: 2px;
    width: 42%;
    content: "";
    background: #000;
    right: 0;
    top: 10px;  
}
.ourTrustedClints > h4::before{
    position: absolute;
    height: 2px;
    width: 42%;
    content: "";
    background: #000;
    left: 0;
    top: 10px;  
}
.ourTrustedClintsLogo{
    display: flex;
    width: 1320px;
    margin: 0 auto;
    justify-content: space-around;
    gap: 20px;
}
.ourTrustedClintsLogoOne{
    width: 220px;
    height: 50px;
    background: url(../assests/images/clinttrustedlogo\ \(1\).webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
}
.ourTrustedClintsLogoTwo{
    width: 220px;
    height: 50px;
    background: url(../assests/images/clinttrustedlogo\ \(2\).webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
}
.ourTrustedClintsLogoThree{
    width: 220px;
    height: 50px;
    background: url(../assests/images/clinttrustedlogo\ \(3\).webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
}
.ourTrustedClintsLogoFour{
    width: 220px;
    height: 50px;
    background: url(../assests/images/clinttrustedlogo\ \(4\).webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
}
.ourTrustedClintsLogoFive{
    width: 220px;
    height: 50px;
    background: url(../assests/images/clinttrustedlogo\ \(5\).webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
}
.ourTrustedClintsLogoSix{
    width: 220px;
    height: 50px;
    background: url(../assests/images/clinttrustedlogo\ \(1\).webp);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 120px;
}

/* ourTrustedClints part end */




/* expert member part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#expertMember{
    width: 100%;
    text-align: center;
    margin-top: 160px;
}
#expertMember > h4{
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    color: #1c2539;
    text-transform: uppercase;
    letter-spacing: 2px;
}
#expertMember > h3{
    font-family: "Red Hat Display", sans-serif;
    font-size: 48px;
    color: #1c2539;
    padding-top: 35px;
    padding-bottom: 80px;
    padding-left: 30px;
}
.expertMemberPart{
    display: flex;
    width: 1320px;
    margin: 0 auto;
    justify-content: space-around;
}
.expertMemberPart img{
    width: 295px;
    height: 300px;

}
.expertMemberPartPictureOne{
    height: 400px;
    width: 295px;
    background: #d9d9d9;
    text-align: left;
    border-radius: 7px;
}
.expertMemberPartPictureTwo{
    height: 400px;
    width: 295px;
    background: #d9d9d9;
    text-align: left;
    border-radius: 7px;
}
.expertMemberPartPictureThree{
    height: 400px;
    width: 295px;
    background: #d9d9d9;
    text-align: left;
    border-radius: 7px;
}
.expertMemberPartPictureFour{
    height: 400px;
    width: 295px;
    background: #d9d9d9;
    text-align: left;
    border-radius: 7px;
}
.expertMemberPart h3{
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 20px;
    font-size: 24px;
    font-family: "Red Hat Display", sans-serif;
    color: #1c2539;
}
.expertMemberPart p{
    padding-left: 20px;
    color: #000;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;

}
/* expert member part end */



/* Testimonial part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#testimonial{
    width: 100%;
    margin-top: 130px;
}
.testimonialPartTitle{
    width: 1320px;
    margin: 0 auto;
    text-align: left;
}
.testimonialPartTitle h4{
    font-size: 16px;
    color: #000;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.testimonialPartTitle h3{
    font-size: 48px;
    color: #1c2539;
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 80px;
}
.testimonialPartInfo{
    width: 1320px;
    margin: 0 auto;
    display: flex;
}
.testimonialPartInfoLeftPart{
    width: 43%;
    background: url(../assests/images/testimonial.webp);
    height: 550px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.testimonialPartInfoRightPart{
    width: 57%;
    background: #20282D;
    color: #fff;
}
.testimonialReview{
    font-size: 30px;
    line-height: 43px;
    font-family: "DM Sans", sans-serif;
    padding-left: 65px;
    padding-top: 108px;
}
.testimonialName{
    font-size: 24px;
    line-height: 43px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    padding-top: 40px;
    padding-bottom: 25px;
    padding-left: 65px;
}
.testimonialLastPart{
    color: #b3b7c1;
    font-family: "DM Sans", sans-serif;
    font-size: 14px;
    padding-left: 65px;
}


/* Testimonial part end */


/* Make An Appointment part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#appointment{
    width: 100%;
    margin-top: 170px;
}
.appointmentPart{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    text-align: left;
}
.appointmentPartLeft{
    width: 50%;
}
.appointmentPartTitle h4{
    font-size: 16px;
    color: #000;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.appointmentPartTitle h3{
    font-size: 48px;
    color: #1c2539;
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 80px;
}
.appointmentTable input{
    padding: 15px 20px;
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    border: none;
    background: #e0e0e1;
    border-radius: 10px;
}
.appointmentPartRight{
    width: 45%;
    margin: 0 auto;
    background: url(../assests/images/appoinment.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 550px;
    border-radius: 10px;
}

/* Make An Appointment part end */


/* blog part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#blogPart{
    width: 100%;
    margin-top: 200px;
}
.blogPartTitle{
    width: 1320px;
    margin: 0 auto;
    text-align: center;
}
.blogPartTitle h4{
    font-size: 16px;
    color: #000;
    font-family: "DM Sans", sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    padding-bottom: 20px;
}
.blogPartTitle h3{
    font-size: 48px;
    color: #1c2539;
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 80px;
}
.blogPartStart{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    gap: 20px;
}
.blogPartStart h3 {
    font-size: 30px;
    font-family: "Red Hat Display", sans-serif;
    color: #1c2539;
    line-height: 36px;
    padding-top: 35px;
    padding-bottom: 86px;
    position: relative;
}
.blogPartStart p{
    font-size: 16px;
    color: #20282D;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
}
.blogPartStart span{
    color: #5d666f;
}
.blogPartStart h3::after{
    width: 90%;
    height: 2px;
    position: absolute;
    content: "";
    background: #dcdcdc;
    left: 2%;
    top: 70%;
}

/* blog part end */



/* contact part start */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */
#contact{
    width: 100%;
    position: relative;
}
.contactPart{
    width: 1320px;
    margin: 0 auto;
    display: flex;
    position: absolute;
    background: #fff;
    left: 50%;
    transform: translateX(-50%);
}
.contactPartLeft{
    width: 70%;
    background: red;
    height: 630px;
}
.contactPartLeft iframe{
    width: 100%;
    height: 630px;
}
.contactPartRight h3{
    font-family: "Red Hat Display", sans-serif;
    font-size: 40px;
    color: #1c2539;
    padding-top: 110px;
    padding-left: 85px;
    padding-left: 85px;
}
.contactPartRight img{
    padding-left: 85px;
}
.contactPartRightFlexPart{
    margin-top: 20px;
}
.contactPartRightFlexPartOne{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding-left: 85px;
}
.firstP{
    color: #5d666f;
    font-size: 22px;
    font-family: "DM Sans", sans-serif;
}
.secendP{
    color: #1c2539;
    font-size: 20px;
    font-family: "Red Hat Display", sans-serif;
    font-weight: 600;
}
.contactPartRightFlexPartOne i{
    font-size: 20px;
    background: #d4d4d4;
    padding: 10px;
    border-radius: 50%;
}
.contactDeteils{
    padding: 30px;
}

/* contact part end */



/* footer part */
#footer{
    width: 100%;
    background: #20282E;
    margin-top: 350px;
}
.footerPart{
    width: 1320px;
    margin: 0 auto;
}
.footerTitle h3{
    color: #fff;
    font-size: 24px;
    font-family: "Red Hat Display", sans-serif;
    padding-bottom: 25px;
    padding-top: 40px;
}
.footerTitle img{
    padding-bottom: 35px;
}
.footerPartOne{
    padding-top: 400px;
    display: flex;
    gap: 10px;
    margin: 0 auto;
    background: #20282E;
    padding-bottom: 80px;
}
.lineOne{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.footerPartLeft{
    width: 25%;
    color: #fff;
    background: #161C28;
    padding-left: 30px;
    padding-right: 30px;
    height: 380px;
    border-radius: 10px;
}
.btn-primary-footer{
    margin-top: 30px;
    background: white;
    padding: 18px 22px;
    border: none;
    border-radius: 15px;
    
}
.btn-primary-footer:hover{
    background: #161C28;
    color: #fff;
    transition: .5s;
}
.footerPartMiddleLeft{
    width: 35%;
    padding-left: 80px;
    margin: 0 auto;
}
.quickLinkPart li{
    list-style-type: none;
    padding-bottom: 20px;
}
.quickLinkPart a {
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    color: #8B8F99;
}
.quickLinkPart a:hover{
    color: #fff;
    transition: .5s;
}
.footerTitle i{
    padding-right: 15px;
}
.quickLinkPart{
    display: flex;
}
.quickLinkPartTwo{
    padding-left: 60px;
}
.footerPartRight{
    width: 30%;
}
.footerPartRight p{
    font-size: 16px;
    font-family: "DM Sans", sans-serif;
    color: #8B8F99;
}
.footerInputButton{
    position: relative;
    margin-bottom: 30px;
}
.footerInputButton input{
    padding: 20px 40px;
    border-radius: 10px;
    border: none;
    margin-top: 30px;
    text-align: left;
    padding-left: 15px;
    width: 80%;
}
.footerInputButton button{
    padding: 18px 20px;
    border-radius: 10px;
    background: #20282D;
    color: white;
    border: none;
    position: absolute;
    left: 80%;
    top: 38%;
}
.footerPartTwo{
    width: 100%;
    background: #20282E;
    text-align: center;
    line-height: 100px;
    border-top: 1px solid #5d666f;
    color: #fff;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
}
.btn-primary{
    margin-top: 30px;
    padding: 15px 25px;
    font-family: "DM Sans", sans-serif;
    font-size: 16px;
    background: #20282D;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-family: "DM Sans", sans-serif;
}
.btn-primary:hover{
    background: #dadada;
    color: #000000;
    transition: .5s;
}

/* footer part end */
/* font-family: "DM Sans", sans-serif; */
/* font-family: "Red Hat Display", sans-serif; */

